<app-header></app-header>
<div id="loader-wrapper" class="d-none align-items-center">
    <div class="w-100">	
        <div class="splash-logo">		
            <img src="/assets/images/logo-white.svg" alt="logo">         
        </div>
        <div id="loader"></div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<section class="apps apps-container">
            <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
                <button type="submit" class="btn btn-primary btn-back text-white" routerLink="/appointment"><i class="fa fa-angle-left"></i></button>
                <h1 class="h4 text-uppercase m-0">{{title}} Appointment</h1>
            </header>

            <div class="app-container d-flex flex-column" *ngFor="let item of detail">
                <div class="flex-fill">
                    <div class="row">                       
                        <div class="col-xl-6 col-md-10 m-auto">
                            <div class="row mb-3">
                                <div class="col-md-9 col-8">
                                    <h4 class="text-primary">Ticket No: {{item.appointment_no}}</h4>
                                    <h5 class="mb-4"  *ngIf="dataToken">Token No: {{this.tokenNo}}</h5>

                                    <div class="ng-service">
                                        <p class="mb-2"><strong class="medium">Service:</strong></p>  
                                        <ul class="list-unstyled mb-0" >
                                     {{this.allServices}}
                                            
                                        </ul>
                                    </div>
                                </div>  
                                <div class="col-md-3 col-4 pl-md-5" *ngIf="dataScan" > 
                                    <img src="{{item.qrcode}}" alt="QR-CODE">
                                </div>
                            </div>
                            <div class="ng-branch mb-3">
                                <p class="mb-2"><strong class="medium">Branch:</strong></p>
                                <div class="d-flex align-items-start mb-3">
                                    <img src="assets/images/route-icon.svg" alt="route icon" class="mr-3">
                                    <div class="rich-text flex-fill">{{item.branchname}} {{item.branchAddress}} {{item.branchState}} {{item.branchCity}} {{item.branchPincode}}<br>
                                       
                                        <a target="_blank" href='http://maps.google.com/maps/dir//{{item.branchname}} {{item.branchAddress}} {{item.branchState}} {{item.branchCity}}'><u>Get Directions</u></a>
                                    </div>
                                </div>  
                            </div>
                           
                            <div class="ng-date mb-3">
                                <p class="mb-2"><strong class="medium">Date:</strong> {{item.appointment_date}}</p>
                                <p class="mb-0"><strong class="medium">Time:</strong> {{item.appointment_time}}</p>
                            </div>
                            <div class="ng-service">
                                        <p class="mb-2"><strong class="medium">Describe Service Requirement/Issues:</strong></p>  
                                        <ul class="list-unstyled mb-0" >
                                     {{item.note}}
                                            
                                        </ul>
                                    </div>                     
                        </div>
                                           
                    </div>                  
                </div>
                <!-- <div class="app-footer-cta d-flex col-md-4 m-auto pt-md-5 justify-content-start" *ngIf="dataButton" >
                    <div></div>
                    <button type="submit" class="btn btn-lg btn-outline-primary btn-block mr-2"  data-toggle="modal" data-target="#CancelModal">CANCEL</button>
                    <button type="submit" class="btn btn-lg btn-primary btn-block mt-0" data-toggle="modal" data-target="#RescheduleModal">RESCHEDULE</button>
                </div> -->
                <div class="app-footer-cta d-md-flex col-md-4 m-auto pt-md-5 justify-content-start"  >
                    <!-- <a data-toggle="modal" data-target="#CancelModal" class="btn btn-lg btn-outline-primary btn-block mr-md-2">CANCEL</a> -->
                    <a routerLink="/appointment" class="btn btn-lg btn-outline-primary btn-block mr-md-2">DONE</a>
                  
                    <div *ngIf="dataButton" class="d-md-flex">
                    <!-- <a data-toggle="modal" data-target="#RescheduleModal" class="btn btn-lg btn-outline-primary btn-block mr-md-2 mt-md-0 mt-2">RESCHEDULE</a> -->
                    <!-- <a data-toggle="modal" data-target="#CancelModal" class="btn btn-lg btn-primary btn-block mt-md-0 mt-2">CANCEL</a> -->
                </div>
                </div>   
            </div>
            <div class="modal fade" id="CancelModal" tabindex="-1" aria-labelledby="CancelModal" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header ">
                      <h5 class="modal-title" id="CancelModalLabel">Cancel Appointment</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body p-5 text-center" id="cancelError">	
                        <p class="medium text-large">Do you want to Cancel this appointment?</p>
                        <button type="button" (click)="cancel()" class="btn btn-primary">Cancel Now</button>	      
                    </div>
                    <div class="modal-body p-5 text-center " id="cancelSuccess" style="display: none;">	
                        <p class="medium text-large">Your Appointment has been cancelled</p>
                        <button type="button" routerLink="/appointment"    data-dismiss="modal" aria-label="Close" class="btn btn-primary ">OK</button>
                                  
                    </div>
                            
                  </div>
                </div>
            </div>
        
            <div class="modal fade" id="RescheduleModal" tabindex="-1" aria-labelledby="RescheduleModal" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header ">
                      <h5 class="modal-title" id="RescheduleModalLabel">Reschedule Appointment</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body p-5 text-center" id="cancelError">	
                        <p class="medium text-large">Do you want to Reschedule this appointment?</p>
                        <a  class="btn btn-primary" href="{{this.final_result_2}}/reschedule" >Reschedule Now</a>	      
                    </div>
                    
                            
                  </div>
                </div>
            </div>
        </section>
        