<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <a routerLink="/contact" class="btn btn-primary btn-back"><i class="fa fa-angle-left"></i></a>
        <h1 class="h4 text-uppercase m-0">{{title}}</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">
            <div class="row">
                <div class="col-xl-6 col-md-10 m-auto">
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="text-primary">3 Days Left</h4>
                            <h5 class="mb-4">Ticket No: #RG54233</h5>

                            <div class="ng-service">
                                <p class="mb-2"><strong class="medium">Service:</strong></p>  
                                <ul class="list-unstyled mb-0">
                                    <li>(1) Servicing</li>
                                    <li>(2) Car Wash</li>
                                </ul>
                            </div>
                        </div>	
                        <div class="col-4">
                            <img src="./assets/images/qrcode.png" alt="">
                        </div>
                    </div>
                    <div class="ng-branch mb-3">
                        <p class="mb-2"><strong class="medium">Branch:</strong></p>
                        <div class="d-flex align-items-start mb-3">
                            <img src="./assets/images/route-icon.svg" alt="route icon" class="mr-3">
                            <div class="rich-text flex-fill">Nehru Place, 408, Modi Tower, New Delhi 110048, 011 - 5868258<br>
                                <a href="#"><u>Get Directions</u></a>
                            </div>
                        </div>  
                    </div>  
                    <div class="ng-date mb-3">
                        <p class="mb-2"><strong class="medium">Date:</strong> 16th March 2021</p>
                        <p class="mb-0"><strong class="medium">Time:</strong> 12:30 - 01:00 PM</p>
                    </div>
                    <h5 class="seprator-title text-center mt-5 mb-4"><span>Personal Details</span></h5>
                    <div class="rich-text personal-info">
                        <p><strong class="medium">Name:</strong> Rakesh Sharma </p>
                        <p><strong class="medium">Email Address:</strong> rakeshsharma@gmail.com </p>
                        <p><strong class="medium">Mobile Number:</strong> +91 9872725535 </p>
                        <p><strong class="medium">Describe Service Requirement/Issues </strong><br>Phone not working properly and also sim not working properly</p>
                    </div>	

            
            
                </div>
            </div>
        </div>
        <div class="app-footer-cta d-flex col-md-4 m-auto pt-md-5 justify-content-start">
            <a routerLink="/appointment" class="btn btn-lg btn-outline-primary btn-block mr-2">CANCEL</a>
            <a routerLink="/services" class="btn btn-lg btn-primary btn-block mt-0">NERESCHEDULEXT</a>
        </div>                        
        </div>
</section>