<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <a routerLink="/branch" class="btn btn-primary btn-back"><i class="fa fa-angle-left"></i></a>
        <h1 class="h4 text-uppercase m-0">{{title}}</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">

            <div class="row">
                <div class="col-lg-6 bg-md-light mb-5">
                    <div class="accordion-group">
                        <div class="datepicker" id="datepicker"></div>	
                    </div>
                </div>
            
            <div class="col-lg-6 pt-md-3 pl-xl-5">
                <div class="row row-gap time-list">
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time1">
                        <label for="time1">10:00 - 10:30 AM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time2">
                        <label for="time2">10:30 - 11:00 AM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time3">
                        <label for="time3">11:00 - 11:30 AM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time4">
                        <label for="time4">11:30 - 12:00 AM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time5">
                        <label for="time5">12:00 - 12:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time6">
                        <label for="time6">12:30 - 01:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time7">
                        <label for="time7">01:00 - 01:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time8">
                        <label for="time8">01:30 - 02:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time9">
                        <label for="time9">02:00 - 02:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time10">
                        <label for="time10">02:30 - 03:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time11">
                        <label for="time11">03:00 - 03:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time12">
                        <label for="time12">03:30 - 04:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time13">
                        <label for="time13">04:00 - 04:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time14">
                        <label for="time14">04:30 - 05:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time15">
                        <label for="time15">05:00 - 05:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time16">
                        <label for="time16">05:30 - 06:00 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time17">
                        <label for="time17">06:00 - 06:30 PM</label>
                    </div>
                    <div class="col-sm-4 col-6 btn-radio">
                        <input type="radio" name="TimeSlot" id="time18">
                        <label for="time18">06:30 - 07:00 PM</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-footer-cta d-flex col-md-4 m-auto pt-md-5 justify-content-start">
            <a routerLink="/branch" class="btn btn-lg btn-outline-primary btn-block mr-2">PREVIOUS</a>
            <a routerLink="/contact" class="btn btn-lg btn-primary btn-block mt-0">NEXT</a>
        </div>
                        
        </div>
        
    </div>
</section>