<div id="loader-wrapper" class="d-flex align-items-center">
    <div class="w-100">	
        <div class="splash-logo">		
            <img src="/assets/images/logo-white.svg" alt="logo">         
        </div>
        <div id="loader"></div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<section class="d-flex justify-content-md-end justify-content-center login-wrapper">
        <div class="col-left justify-content-center w-100 d-none d-xl-flex align-items-center">
            <div class="text-center">
                <h2 class="regular text-white mb-4">Welcome Back!</h2>
    
                <img src="/assets/images/logo-white.svg" alt="logo">
            </div>
        </div>
        <div class="col-right">
            <div class="w-100 h-100 d-flex align-items-center apps"  id="login_div" *ngIf="login">
                <div class="app-container text-center">
					<div class="brand-logo d-xl-none mb-4">
							<img src="/assets/images/logo.svg" alt="logo">
						</div>
					<div class="card p-4 p-md-0">						
						<div class="card-title mb-4">
										<h4 class="bolder mb-3">Login</h4>
										<h5>Sign in to QMS account</h5>
									</div>
						<form [formGroup]="form" (ngSubmit)="onSubmit()">
									<div class="form-group">
										<input type="tel" name="" placeholder="Mobile Number" class="form-control form-control-lg" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" formControlName="mobile">
										<div *ngIf="submitted && f.mobile.errors" class="invalid-feedback" style="display: block;">
											<div *ngIf="f.mobile.errors.required" class="error-text">Mobile Number is required</div>
											<div *ngIf="f.mobile.errors.pattern" class="error-text">Invalid Mobile Number</div>
										</div>
									</div>
									<!-- <div id="err1">{{ this.message_1}}</div> -->
                                    <div class="form-group text-left btn-checkbox">
                                        <input type="checkbox" [value]="1" class="form-control form-control-lg"    formControlName="whatsapp" id="whatsapp" name="whatsapp">
                                        <label for="whatsapp" class="text-muted medium mb-0">By Logging in you agree to receive notifications on WhatsApp</label>
                                        </div>
									<div class="form-cta">
										<button type="submit" class="btn btn-lg btn-primary btn-block">GET OTP</button>
									</div>
								</form>
                	</div>
                </div>
            </div>
            <div class="w-100 h-100 d-flex align-items-center apps" id="otp_div" *ngIf="otp">
                <div class="app-container text-center">
                    <div class="brand-logo d-xl-none mb-4">
                        <img src="/assets/images/logo.svg" alt="logo">
                    </div>
                    <div class="card p-4 p-md-0">
                        <div class="card-title mb-4">
                            <h4 class="bolder mb-3">Enter OTP</h4>
                            <h5>OTP has been sent to <a (click)="login_page()" class="active-num"><u>+91-{{mobile}}</u></a></h5>
                        </div>
                        <form [formGroup]="formOtp" (ngSubmit)="onOtpSubmit()">
                        <div class="form-group otp-input">
                            <input type="tel" name="" placeholder="Enter OTP" id="otp" class="form-control form-control-lg" maxlength="6" formControlName="otpValue">
							 <div id="err3" style="display: none;" class="error-text">{{message_3}}</div>
                             <div id="err_valid"  style="display: none;" class="error-text" >{{this.valid}}</div>
                             <div id="err_invalid"  style="display: none;" class="error-text">{{this.invalid}}</div>
                        </div>
          
                        <div class="form-cta">
                            
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" >SIGN IN</button>
                                    <div id="resend_otp"  class="error-text">{{this.resend_otp}}</div>
                                </div>
                        <p class="text-muted mt-4 medium mb-0">By Logging in you agree to <a target="_blank" href="terms"class="text-muted"><u>T&Cs</u></a> &amp; that you
    have read our <a target="_blank" href="policy" class="text-muted"><u>Privacy Policy</u></a></p>
    <!-- <p class="text-muted mt-4 medium mb-0">By Logging in you agree to agree to the receive notifications on WhatsApp</p> -->

   


  
                                    </form>
                                <p class="mt-4 medium mb-0 ten1 count" style="display: none;"><a (click)="resendOtp()" class="count text-black"><u>Resend OTP</u></a></p>
                                <p class="mt-4 medium mb-0 count"><u>Resend OTP in <b class="countdown"></b></u></p>
                               
                    </div>
                </div>
            </div>
        </div>

</section>