<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <a routerLink="/contact" class="btn btn-primary btn-back"><i class="fa fa-angle-left"></i></a>
        <h1 class="h4 text-uppercase m-0">{{title}}</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="info-block card pl-3 pb-3 pr-3 pt-2 mb-4 h-100">
                        <div class="d-flex align-items-center mb-4">	
                            <h5 class="m-0 text-muted">Service Details</h5>
                            <a routerLink="/services" class="btn btn-light ml-auto pl-3 pr-3"><img src="./assets/images/edit-icon.svg" width="14" alt="Edit"></a>
                        </div>
                        
                        <ul class="service-list list-unstyled">
                            <li>
                                <h5 class="title">Services</h5>
                                <p class="text-muted">(1) Servicing<br> 
                                (2) Car Wash</p>
                            </li>
                            <li>
                                <h5 class="title">Branch</h5>
                                <p class="text-muted">New Delhi, Nehru Place</p>
                            </li>
                            <li>
                                <h5 class="title">Date &amp; Time</h5>
                                <p class="text-muted d-flex">15th February, 2021 <span class="pl-2 pr-2">|</span> 12:30 - 01:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="card pl-3 pb-3 pr-3 pt-2 mb-4 h-100">
                        <div class="d-flex align-items-center mb-4">	
                            <h5 class="m-0 text-muted">Personal Details</h5>
                            <a routerLink="/contact" class="btn btn-light ml-auto pl-3 pr-3"><img src="./assets/images/edit-icon.svg" width="14" alt="Edit"></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <h5 class="title mb-1">Name</h5>
                                <p class="text-muted m-0">Rakesh Sharma</p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h5 class="title mb-1">Mobile</h5>
                                <p class="text-muted m-0">+91 9872725535</p>
                            </div>									
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h5 class="title mb-1">Email Address</h5>
                                <p class="text-muted m-0">rakeshsharma@gmail.com</p>
                            </div>																	
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="title mb-1">Describe Service Requirement/Issues</h5>
                                <p class="text-muted m-0">Phone not working properly and also sim not working properly</p>
                            </div>																	
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-footer-cta col-md-4 p-0 m-auto pt-md-5">			
            <a routerLink="/request-confirmed" class="btn btn-lg btn-primary btn-block">CONFIRM</a>
        </div>                        
        </div>
</section>