<app-header></app-header>
<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <h1 class="h4 text-uppercase m-0">MY APPOINTMENT</h1>
        <a routerLink="/book-appointment" class="btn btn-sm btn-light ml-auto d-md-block d-none">CREATE APPOINTMENT</a>
    </header>
    <div class="app-container" >
        <div class="apmt-list" *ngIf="currentAppointment?.length">
            <h2 class="h5 mb-3">Current Appointment</h2>
            <div class="row">
                <div class="col-md-6 col-xl-4 mb-4" *ngFor="let item of currentAppointment">
                    <a routerLink="/appointment-details/{{item.id}}" class="card p-4 text-default">
                        <h5 class="text-primary mb-3">Ticket No.:{{item.appointment_no}}</h5>
                        <p class="mb-2"><strong class="medium">Service:</strong>  {{item.serviceNames}}</p>
                        <p class="mb-2"><strong class="medium">Branch:</strong> 
                            {{item.branchname}} {{item.branchAddress}}  {{item.branchPincode}}</p>
                        <div class="d-flex flex-wrap align-items-center"><span><strong class="medium">Date:</strong> {{item.appointment_date}}</span><span class="pl-2 pr-2">|</span><span><strong class="medium">Time:</strong> {{item.appointment_time}}</span></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="apmt-list" *ngIf="upcomingAppointment?.length">
            <h2 class="h5 mb-3">Upcoming Appointment</h2>
            <div class="row">
                <div class="col-md-6 col-xl-4 mb-4" *ngFor="let item of upcomingAppointment">
                    <a routerLink="/appointment-details/{{item.id}}" class="card p-4 text-default">
                        <h5 class="text-primary mb-3">Ticket No.:{{item.appointment_no}}</h5>
                        <p class="mb-2"><strong class="medium">Service:</strong>  {{item.serviceNames}}</p>
                        <p class="mb-2"><strong class="medium">Branch:</strong> 
                            {{item.branchname}} {{item.branchAddress}} {{item.branchPincode}}</p>
                        <div class="d-flex flex-wrap align-items-center"><span><strong class="medium">Date:</strong> {{item.appointment_date}}</span><span class="pl-2 pr-2">|</span><span><strong class="medium">Time:</strong> {{item.appointment_time}}</span></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="apmt-list" *ngIf="pastAppointment?.length">
            <h2 class="h5 mb-3">Past Appointment</h2>
            <div class="row">
                <div class="col-md-6 col-xl-4 mb-4" *ngFor="let item of pastAppointment">
                    <a class="card p-4 text-default" routerLink="/appointment-details/{{item.id}}">
                        <h5 class="text-primary mb-3">Ticket No.:{{item.appointment_no}}</h5>
                
                        <p class="mb-2"><strong class="medium">Service:</strong>  {{item.serviceNames}}</p>
                        <p class="mb-2"><strong class="medium">Branch:</strong> 
                            {{item.branchname}} {{item.branchAddress}} {{item.branchPincode}}</p>
                        <div class="d-flex flex-wrap align-items-center"><span><strong class="medium">Date:</strong> {{item.appointment_date}}</span><span class="pl-2 pr-2">|</span><span><strong class="medium">Time:</strong> {{item.appointment_time}}</span></div>
                    </a>
                </div>           
            </div>
        </div>
        <div class="cta-btn row">
            <div class="col-md-6 col-xl-4 mt-md-3 mb-md-5">
                <a routerLink="/book-appointment" class="btn btn-lg btn-primary btn-block">CREATE APPOINTMENT</a>                
            </div>
        </div>
    
    </div>
</section>