<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <a routerLink="/appointment" class="btn btn-primary btn-back"><i class="fa fa-angle-left"></i></a>
        <h1 class="h4 text-uppercase m-0">{{title}}</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">
            
            <div class="accordion-group">
                 <div class="accordion sub-accordion" id="accordionServices">
                          <div class="card">																  
                                <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                  Service No. 1
                                </button>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionServices">
                              <div class="card-body">
                                <div class="accordion sub-sub-accordion" id="SubServices">
                                  <div class="card">																	  
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#SubServiceOne" aria-expanded="true" aria-controls="collapseOne" id="ServiceheadingOne">
                                          Sub Service 1
                                        </button>
                                    <div id="SubServiceOne" class="collapse" aria-labelledby="ServiceheadingOne" data-parent="#SubServices">
                                      <div class="card-body">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="serviceList1">
                                          <label for="serviceList1">Service List 1</label>
                                          </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="serviceList2">
                                          <label for="serviceList2">Service List 2</label>
                                          </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="serviceList3">
                                          <label for="serviceList3">Service List 3</label>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">														 
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#SubServiceTwo" aria-expanded="false" aria-controls="collapseTwo" id="ServiceheadingTwo">
                                          Sub Service 2
                                        </button>
                                    <div id="SubServiceTwo" class="collapse" aria-labelledby="ServiceheadingTwo" data-parent="#SubServices">
                                      <div class="card-body">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="SubService11">
                                          <label for="SubService11">Sub Service 1</label>
                                        </div>
                                          <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="SubService12">
                                          <label for="SubService12">Sub Service 2</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                    <div class="card">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="SubService3">
                                          <label for="SubService3">Sub Service 3</label>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="SubService4">
                                          <label for="SubService4">Sub Service 4</label>
                                        </div>
                                    </div>										    
                                </div>

                              </div>
                            </div>
                          </div>
                          <div class="card">															 
                                <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                                  Service No. 2
                                </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionServices">
                              <div class="card-body">
                                <div class="card-checkbox btn-checkbox">
                                  <input type="checkbox" name="" value="" id="SubService5">
                                  <label for="SubService5">Sub Service 1</label>
                                </div>
                                  <div class="card-checkbox btn-checkbox">
                                  <input type="checkbox" name="" value="" id="SubService6">
                                  <label for="SubService6">Sub Service 2</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                              <div class="card-checkbox btn-checkbox">
                                  <input type="checkbox" name="" value="" id="service3">
                                  <label for="service3">Service No. 3</label>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-checkbox btn-checkbox">
                                  <input type="checkbox" name="" value="" id="service4">
                                  <label for="service4">Service No. 4</label>
                              </div>
                          </div>
                          <div class="card">
                            <div class="card-checkbox btn-checkbox">
                              <input type="checkbox" name="" value="" id="SubService55">
                              <label for="SubService55">Sub Service 5</label>
                            </div>
                        </div>
              </div>
                
            </div>						
            </div>
            <div class="app-footer-cta d-flex col-md-4 m-auto pt-md-5 justify-content-start">
                <a routerLink="/appointment" class="btn btn-lg btn-outline-primary btn-block mr-2">PREVIOUS</a>
                <a routerLink="/branch" class="btn btn-lg btn-primary btn-block mt-0">NEXT</a>
           </div>
                        
        </div>
</section>