<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <a routerLink="/services" class="btn btn-primary btn-back"><i class="fa fa-angle-left"></i></a>
        <h1 class="h4 text-uppercase m-0">{{title}}</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">            
            <div class="accordion-group">
                 <div class="accordion sub-accordion" id="SubBranches">
                                  <div class="card">																	  
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#HROne" aria-expanded="true" aria-controls="HRcollapseOne" id="HRheadingOne">
                                          Haryana
                                        </button>
                                    <div id="HROne" class="collapse" aria-labelledby="HRheadingOne" data-parent="#SubBranches">
                                      <div class="card-body">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="HRcheck1">
                                          <label for="HRcheck1">Sonipat</label>
                                          </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="HRcheck2">
                                          <label for="HRcheck2">Panipat</label>
                                          </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="HRcheck3">
                                          <label for="HRcheck3">Mewat</label>
                                          </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="HRcheck4">
                                          <label for="HRcheck4">Sohna</label>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">															 
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#DLITwo" aria-expanded="false" aria-controls="DLIcollapseTwo" id="DLIheadingTwo">
                                          Delhi
                                        </button>
                                    <div id="DLITwo" class="collapse" aria-labelledby="DLIheadingTwo" data-parent="#SubBranches">
                                      <div class="card-body">
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck1">
                                          <label for="DLIcheck1">Nehru Place</label>
                                        </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck2">
                                          <label for="DLIcheck2">Rajouri Garden</label>
                                        </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck3">
                                          <label for="DLIcheck3">Lajpat Nagar</label>
                                        </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck4">
                                          <label for="DLIcheck4">Dwarka</label>
                                        </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck5">
                                          <label for="DLIcheck5">Ashram</label>
                                        </div>
                                        <div class="card-checkbox btn-checkbox">
                                          <input type="checkbox" name="" value="" id="DLIcheck6">
                                          <label for="DLIcheck6">Safdarjung</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>	
                                  <div class="card">															 
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#Mumbai" aria-expanded="false" aria-controls="Mumbaicollapse" id="MumbaiHeading">
                                          Mumbai
                                        </button>
                                        <div id="Mumbai" class="collapse" aria-labelledby="MumbaiHeading" data-parent="#SubBranches">
                                          <div class="card-body">
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Mumcheck1">
                                              <label for="Mumcheck1">Branch 1</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Mumcheck2">
                                              <label for="Mumcheck2">Branch 2</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Mumcheck3">
                                              <label for="Mumcheck3">Branch 3</label>
                                            </div>												
                                          </div>
                                        </div>
                                  </div>
                                  <div class="card">															 
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#Kolkata" aria-expanded="false" aria-controls="Kolkatacollapse" id="KolkataHeading">
                                          Kolkata
                                        </button>
                                        <div id="Kolkata" class="collapse" aria-labelledby="KolkataHeading" data-parent="#SubBranches">
                                          <div class="card-body">
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Kolcheck1">
                                              <label for="Kolcheck1">Branch 1</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Kolcheck2">
                                              <label for="Kolcheck2">Branch 2</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="Kolcheck3">
                                              <label for="Kolcheck3">Branch 3</label>
                                            </div>												
                                          </div>
                                        </div>
                                  </div>
                                  <div class="card">															 
                                        <button class="collapsed card-header" type="button" data-toggle="collapse" data-target="#TamilNadu" aria-expanded="false" aria-controls="TamilNaducollapse" id="TamilNaduHeading">
                                          Tamil Nadu
                                        </button>
                                        <div id="TamilNadu" class="collapse" aria-labelledby="TamilNaduHeading" data-parent="#SubBranches">
                                          <div class="card-body">
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="tmncheck1">
                                              <label for="tmncheck1">Branch 1</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="tmncheck2">
                                              <label for="tmncheck2">Branch 2</label>
                                            </div>
                                            <div class="card-checkbox btn-checkbox">
                                              <input type="checkbox" name="" value="" id="tmncheck3">
                                              <label for="tmncheck3">Branch 3</label>
                                            </div>												
                                          </div>
                                        </div>
                                  </div>
                                </div>
            </div>						
            </div>

            <div class="app-footer-cta d-flex col-md-4 m-auto pt-md-5 justify-content-start">
                <a routerLink="/services" class="btn btn-lg btn-outline-primary btn-block mr-2">PREVIOUS</a>
                <a routerLink="/datetime" class="btn btn-lg btn-primary btn-block mt-0">NEXT</a>
            </div>
                        
        </div>
</section>