<section class="apps apps-container">
    <header class="text-white bg-primary d-flex align-items-center app-title mb-4">
        <!-- <button type="submit" class="btn btn-primary btn-back" onclick="location.href='appointment.html';"><i class="fa fa-angle-left"></i></button> -->
        <h1 class="h4 text-uppercase m-0">Privacy Policies</h1>
    </header>
    <div class="app-container d-flex flex-column">
        <div class="flex-fill">
            <div [innerHTML]="this.policies"></div>
        </div>

        
                        
        </div>
        
  
    
</section>
